
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Sacramento&display=swap');

:root{
    --bege:#bdb88e;
    --verde:#827c55;
    --areia:#f7f8da;
    --bege1:#c9cda4;
}

.carousel-item{
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
#carrousel1{
    background-image: url(../img/4novelos.jpg);
    background-position: center;  
}
#carrousel2{
    background-image: url(../img/trico-textura.jpg);
    background-position: center;  
}
#carrousel3{
    background-image: url(../img/luzesTrico.jpg);
    background-position: center;  
}

    
.nav{
    padding: 10px;
    background-color: rgb(88, 88, 88);
    font-family:'Dosis', sans-serif;
    font-size: 30px;
}

h1,h2,h3{
    font-family:'Sacramento', cursive;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 100px;
    padding-bottom: 20px;
    
}
body, #pagina{
    font-family:'Dosis', sans-serif;
    background-color: var(--areia);
}
footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--verde);
}

/* ELEMENTO PAI */
main{    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
   
}
 /* ELEMENTO FILHO */   
#conteudo{
    width: 90%;
    height: auto;
    padding: 20px;

}